<table class="table" style="margin-top: 0">
    <thead>
        <tr>
            <th class="left">Unique Name</th>
            <th class="left">Display Name</th>
            <th class="left">Type</th>
            <th class="left">Description</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let entityField of entityFields">
            <td class="left">{{entityField.uniqueName}}</td>
            <td class="left">{{entityField.displayName}}</td>
            <td class="left">{{entityField.type}}</td>
            <td class="left">{{entityField.description}}</td>
        </tr>
    </tbody>
</table>