<table class="table" style="margin-top: 0">
    <thead>
        <tr>
            <th class="left">Unique Name</th>
            <th class="left">Display Name</th>
            <th class="left">Type</th>
            <th class="left">Description</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let entityField of entityFields">
            <td class="left">{{entityField.uniqueName}}</td>
            <td class="left">{{entityField.displayName}}</td>
            <td class="left">{{entityField.type}}</td>
            <td class="left">{{entityField.description}}</td>
        </tr>

        <!-- <tr>
            <td class="left">Harry</td>
            <td>Gryffindor</td>
            <td>Yes</td>
            <td>No</td>
        </tr>
        <tr>
            <td class="left">Gandalf</td>
            <td>Hobbits</td>
            <td>Maybe?</td>
            <td>I don&apos;t think so...</td>
        </tr>
        <tr>
            <td class="left">Obi-Wan Kenobi</td>
            <td>Republic/Rebellion</td>
            <td>No</td>
            <td>No</td>
        </tr>
        <tr>
            <td class="left">Merlin</td>
            <td>King Arthur</td>
            <td>Probably invented the tournament</td>
            <td>Solid maybe</td>
        </tr> -->
    </tbody>
</table>